body {
    background-color: #F8F4E1;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#icono {
    height: 100px;
    width: 100px;
}


header {
    padding: 10px;
    background-color: #FFE2AB;
    display: flex;
    justify-content: space-between;
    height: 130px;
    font-size: 25px;
    margin: 10px;
}

main {
    padding: 70px;
    margin: 10px auto 10px auto; /* Arriba, Derecha, Abajo, Izquierda */
    width: 50%;
    background-color: #FFE2AB;
    border-radius: 20px;
}

#CajaPequeña {
    padding: 65px;
    margin: 30px;
    width: auto;
}

footer {
    float: left;
    height: 150px;
    width: 100%;
    background-color: #181A1B;
    text-align: center;
    margin-top: auto;
    color: white;
    font-size: 18px;
}

.headerright {
    text-align: center;
    line-height: 95px;
    margin: 15px;
}

    .headerright a:hover {
        color: red;
        text-decoration: none;
    }

a {
    text-decoration: none;
    color: white;
}

input {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

#Username input::placeholder {
    font-size: 17px;
    color: #999;
}

hr {
    border-color: black;
}

.parrafo {
    margin-left: 120px;
    margin-right: 120px;
}

.imagen-redonda {
    width: 150px; /* o el tamaño que quieras */
    height: 150px;
    object-fit: cover; /* para que no se deforme */
    border-radius: 50%; /* hace que sea redonda */
    background-position: center;
    margin-top: 20px;
    margin-right: 20px;
}
/*---------------*/
/* boton */
.btn2 {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fefefe;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

    .btn2::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - -2px);
        background-color: #212121;
        transition: 0.3s ease-out;
        transform: scaleY(1);
    }

    .btn2::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - 50px);
        background-color: #212121;
        transition: 0.3s ease-out;
        transform: scaleY(1);
    }

    .btn2:hover::before {
        transform: translateY(-25px);
        height: 0;
    }

    .btn2:hover::after {
        transform: scaleX(0);
        transition-delay: 0.15s;
    }

    .btn2:hover {
        border: 2px solid #348F90;
        color: black;
    }

    .btn2 span {
        position: relative;
        z-index: 3;
    }

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

/*-----------------------------*/
.input-wrapper {
    position: relative;
    margin: 15px 0;
}

.input-box {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #ffffff;
    width: 50%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.input-box:focus {
    border-color: #348F90;
    outline: none;
}

    .input-box:focus + .underline {
        transform: scaleX(1);
    }

#error {
    color: #C43943;
}
/*----------------------somos -----------------------*/
#imagen1 {
    width: 100%;
    height: 700px;
    background-image: url(../imagenes/somos2.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

#textos {
    margin-left: 50px;
    color: white;
}

#imagen3 {
    width: 300px;
    height: 300px;
}

#Main {
    float: left;
    width: 60%;
    height: 1900px;
    background-color: #1E2021;
    font-size: 20px;
}

#aside1 {
    float: left;
    width: 20%;
    height: 1900px;
}

#aside2 {
    float: left;
    width: 20%;
    height: 1900px;
}

    #aside2 img, p {
        margin-left: 50px;
    }

#Main2 th {
    padding-left: 100px;
}

.prinp {
    font-size: 30px;
    color: black;
}

.texto1 {
    color: white;
    font-size: 19px;
}


ul {
    list-style: none;
    padding-left: 20px;
}

    ul li {
        background: url('../imagenes/somos3.gif') no-repeat;
        background-size: 20px 20px;
        padding-left: 30px;
    }

ol {
    list-style-image: url(../imagenes/pokemon.png);
}

#aside1 img {
    margin-left: -60px;
}
.button {
    --stone-50: #fafaf9;
    --stone-800: #292524;
    --yellow-400: #FFE2AB;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 1px;
    transform: translate(-4px, -4px);
    outline: 2px solid transparent;
    outline-offset: 5px;
    border-radius: 9999px;
    background-color: var(--stone-800);
    color: var(--stone-800);
    transition: transform 150ms ease, box-shadow 150ms ease;
    text-align: center;
    box-shadow: 0.5px 0.5px 0 0 var(--stone-800), 1px 1px 0 0 var(--stone-800), 1.5px 1.5px 0 0 var(--stone-800), 2px 2px 0 0 var(--stone-800), 2.5px 2.5px 0 0 var(--stone-800), 3px 3px 0 0 var(--stone-800), 0 0 0 2px var(--stone-50), 0.5px 0.5px 0 2px var(--stone-50), 1px 1px 0 2px var(--stone-50), 1.5px 1.5px 0 2px var(--stone-50), 2px 2px 0 2px var(--stone-50), 2.5px 2.5px 0 2px var(--stone-50), 3px 3px 0 2px var(--stone-50), 3.5px 3.5px 0 2px var(--stone-50), 4px 4px 0 2px var(--stone-50);
}

    .button:hover {
        transform: translate(0, 0);
        box-shadow: 0 0 0 2px var(--stone-50);
    }

    .button:active,
    .button:focus-visible {
        outline-color: var(--yellow-400);
    }

    .button:focus-visible {
        outline-style: dashed;
    }

    .button > div {
        position: relative;
        pointer-events: none;
        background-color: var(--yellow-400);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 9999px;
    }

        .button > div::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 9999px;
            opacity: 0.5;
            background-image: radial-gradient( rgb(255 255 255 / 80%) 20%, transparent 20% ), radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
            background-position: 0 0, 4px 4px;
            background-size: 8px 8px;
            mix-blend-mode: hard-light;
            animation: dots 0.5s infinite linear;
        }

        .button > div > span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 3rem;
            gap: 0.25rem;
            filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.25));
        }

            .button > div > span:active {
                transform: translateY(2px);
            }

@keyframes dots {
    0% {
        background-position: 0 0, 4px 4px;
    }

    100% {
        background-position: 8px 0, 12px 4px;
    }
}
.main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 20px; /* Espacio entre botones (opcional) */
}
#trepando {
    width: 200px;
    height: auto;
    margin: 0px;
}
.contenedor-imagenes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
}

.carteles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartel {
    width: 250px;
    height: auto;
}
@media(max-width: 600px){
    #trepando{
        display: none;
    }
    .imagen-redonda {
        width: 80%; /* ocupa el 60% del ancho del contenedor */
        height: auto; /* mantiene proporción */
        max-width: 150px; /* opcional, límite máximo */
        margin: 0 auto; /* centrada */
        display: block;
    }
     .contenedor-imagenes {
        flex-direction: column; /* imágenes una debajo de otra */
        align-items: center;
        text-align: center;
        gap: 0px;
    }
    #CajaPequeña{
        width: 95%;         /* casi todo el ancho de la pantalla */
        max-width: 500px;   /* límite opcional */
        margin: 0 auto;     /* centrado horizontal */
        background-color:#FFE2AB; /* para ver el área */
        padding: 15px;      /* espacio interno */
        box-sizing: border-box;   
        border-radius: 20px;
    
    }
        main {
        width: 100%;
        margin: 0;
        padding: 15px;
        box-sizing: border-box;
        background-color: white;
    }
}